@{
    ViewData["Title"] = "Cadastro de Contatos";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar Contato</h1>
    <br />
    
</div>

<form>
    <div class="mb-3">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="Digite o nome do contato">
    </div>
    
    <div class="mb-3">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" placeholder="Digite o e-mail do contato">
    </div>

    <div class="mb-3">
        <label for="celular">Celular</label>
        <input type="text" class="form-control" placeholder="Digite o celular do contato">
    </div>

    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Adicionar</button>
        <button class="btn btn-secondary" type="submit" asp-controller="Contato" asp-action="Index">Voltar</button>
    </div>
</form>
